*{
    margin: 0;
    padding: 0;
}
header{
    height: 55px;
    background-color: #2E4A5B;
    text-align: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
#logo{
    grid-row: 1/1;
    grid-column: 2/3;
    margin-bottom: 20px;
    height: 15vw;
}
.dropdown{
    grid-row: 1/1;
    grid-column: 3/4;
    margin-top: 2vw;
    color: #2E4A5B;
    
}



@media screen and (max-width: 800px){
    .gmbh{
    display: none;
    }
}

@media screen and (min-width: 800px){
    header{
        height: 7vw;
    }
    #logo{
        grid-row: 1/1;
        grid-column: 1/2;
        height: 7vw;
        justify-self: left;
    }
    #menug{
        display: none;
    }
    .gmbh a{
        color: #000000;
        text-decoration: none;
    }
    .gmbh p{
        font-size: 30px;
    }
    .gmbh{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        grid-row: 1/1;
        grid-column: 3/4;
    }
    .dropdown{
        display: none;
    }
}