@font-face {
    font-family: Itim;
    src: url('../assets/fonts/Itim-Regular.ttf');
  }  
body{
    background-color: #E8D5B5;
}
.gombok{
    background-image: url("../images/hatter.png");
    background-repeat: no-repeat;
    background-size: 100%;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
}
.vlem{
    background-color: #E8D5B5;
    text-align: center;
    height: 80vw;
}
.vasar,.utvonal{
    height: 42px;
    width: 120px;
    border-radius: 5.5px;
}
.vasar{
    grid-area: 4 / 3 / 5 / 4;
    background-color: #444444;
    color: whitesmoke;
    font-size: 25px;
}
.utvonal{
    grid-area: 5 / 3 / 6 / 4;
    background-color: #C76D39;
    font-size: 20px;
}
p,h3,h1{
    font-family: Itim;
}
button{
    border: none;
    text-align: center;
}
.carousel-item{
    padding-left: 45px;
    padding-right: 45px;
}
img{
    margin-bottom: 20px;
    height: 15vw;
}

.utvonal p{
    padding-top: 5px;
}

@media screen and (min-width: 800px){
    .gombok{
        background-image: none;
        display: inline;
    }
   .merge{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    } 
    .felirat{ grid-area: 2 / 1 / 5 / 5; }
    .gombok{ grid-area: 6 / 1 / 7 / 5; }
    .foto{ grid-area: 2 / 6 / 6 / 10; }

    .gombok{
        justify-self: center;
    }
    .felirat{
        font-size: 30px;
    }
    .felirat h1{
        font-size: 50px;
    }
    .fenykep{
        width: 700px;
        height: auto;
    }


}
@media screen and (max-width: 800px){
    .gombok{
        height: 67vw;
    }
}