*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Itim;
    src: url('../assets/fonts/Itim-Regular.ttf');
  }  

  
body {
    font-family: vertical;
    background-color: #E8D5B5;
}

header {
    height: 7vh;
    background-color: #2E4A5B !important;
    text-align: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    
}
#logo{
    grid-row: 1/1;
    grid-column: 2/3;
    background-color: #2E4A5B !important;
}
#menug{
    grid-row: 1/1;
    grid-column: 3/4;
    justify-self: right;
    align-self: center;
    background-color: #2E4A5B !important;
}

.flex-container{
    display: flex;
    gap:2.5vh;
    flex-direction: column;
}
.flex-container p{
    font-size: 1.5rem;
}
article  h1 , h2{
    text-align: center;
    font-size: 3rem;
}
article h1{
    font-size: 3rem;
}
#szoveg{
    background-color: #E8D5B5;
    font-size: 4rem;
    text-align: center;
}

.egy{
    background-color: #C76D39;
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: 30vw  1fr ; 
    grid-template-rows: 5vh 1fr;
    place-items: center;
    
}
.egy img{
    width: 27vw;
    height: 20vh;
    position: left;
    grid-row: 1/ span 2;
}
.egy p{
    grid-column: 2 / span 2;
    color:white;
    text-align: center;
}
.ketto{
    background-color: #C76D39;
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: 30vw  1fr ; 
    grid-template-rows: 10vh 1fr;
   place-items:center ;
}
.ketto img{
    width: 27vw;
    height: 21vh;
    position: left;
    grid-row: 1/ span 2;
}
.ketto p{
    grid-column: 2 / span 2;
    color:white;
    text-align: center;
    background-color: #C76D39;
}


.harom{
    background-color: #C76D39;
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: 30vw  1fr ; 
    grid-template-rows: 10vh 1fr;
   place-items:center ;
}
.harom img{
    width: 27vw;
    height: 21vh;
    position: left;
    grid-row: 1/ span 2;
}
.harom p{
    grid-column: 2 / span 2;
    color:white;
    text-align: center;
    background-color: #C76D39;
}
.szoveg_2{
    text-align: center;
    background-color:#E8D5B5;
    font-size: 3rem;
}
.carousel{

    display: grid;
    grid-template-columns: 7vw 85vw 7vw ; 
    grid-template-rows: 10vw 10vw 10vw 10vw;
}
.carousel_button_right{
    grid-column-start: 3;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:3;
    place-items: center;
}
.carousel_button_right img{
    height: 8vh;
    width: 7vw;   
}
.carousel_button_left{
    grid-column-start: 1;
    grid-column-end:1;
    grid-row-start:2;
    grid-row-end:3;
    
}
.carousel_button_left img {
    height: 8vh;
    width: 7vw; 
}

.carousel_container{
    grid-column-start:2 ;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    justify-items: center;
}
.books{
    background-color: #C76D39;
    font-size: 2rem;
    position: absolute;
    top:0;
    bottom:0;
    width:85vw;
    height: 21vh;
}
.books p {
    color:white;
    text-align: center;
    background-color: #C76D39;
    font-size: 1.5rem;
}



